---
import LinkButton from "./LinkButton.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;

const prev = currentPage > 1 ? "" : "disabled";
const next = currentPage < totalPages ? "" : "disabled";

// 生成页码数组
const pageNumbers = [];
for (let i = 1; i <= totalPages; i++) {
  pageNumbers.push(i);
}
---

{
  totalPages > 1 && (
    <nav class="pagination-wrapper content" aria-label="Pagination">
      <LinkButton
        disabled={prev === "disabled"}
        href={prevUrl}
        className={`mr-4 select-none ${prev}`}
        ariaLabel="Previous"
      >
         &lt;
      </LinkButton>
      
      {pageNumbers.map((pageNum) => (
        <LinkButton
          href={pageNum === 1 ? '/posts/' : `/posts/${pageNum}/`}
          className={`mx-1 select-none ${currentPage === pageNum ? 'active' : ''}`}
          ariaLabel={`Page ${pageNum}`}
        >
          {pageNum}
        </LinkButton>
      ))}
      
      <LinkButton
        disabled={next === "disabled"}
        href={nextUrl}
        className={`ml-4 select-none ${next}`}
        ariaLabel="Next"
      >
        &gt;
      </LinkButton>
    </nav>
  )
}
